# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
hourly_salaried = salaries['Salary or Hourly'].value_counts()
hourly_salaried

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
departments = salaries['Department'].value_counts()
departments

Department
POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
import scipy.stats as st

In [8]:
nan_check = salaries['Salary or Hourly'].isna()
nan_check

0        False
1        False
2        False
3        False
4        False
         ...
33178    False
33179    False
33180    False
33181    False
33182    False
Name: Salary or Hourly, Length: 33183, dtype: bool

In [9]:
nan_count = salaries['Salary or Hourly'].isna().sum()
nan_count

0

In [10]:
sample = salaries['Salary or Hourly'].sample(30)
sample

10731    Salary
24024    Salary
12369    Salary
22091    Salary
18701    Salary
11501    Salary
21630    Salary
28447    Salary
21109    Hourly
27698    Salary
28882    Hourly
25997    Salary
1454     Hourly
17100    Salary
2057     Salary
7343     Salary
14586    Salary
32825    Salary
27020    Salary
28963    Salary
14648    Salary
25101    Hourly
9775     Salary
32006    Salary
31662    Salary
1316     Salary
14364    Hourly
28643    Salary
23554    Salary
31326    Salary
Name: Salary or Hourly, dtype: object

In [11]:
sample = salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].sample(30)
sample

1785     32.25
25086    36.21
9635     20.12
17811    49.95
31560    35.60
1027     35.60
16276    36.13
29280    35.60
1369     20.77
14686    21.20
18687    35.60
29727    52.10
3769     21.20
23715    36.21
14450    46.35
10935    14.54
17223    40.20
3067     37.56
4782     34.57
20119    22.35
2842     46.10
712      35.60
31234    19.86
13069    14.54
14687    46.35
11971    35.60
11834    15.65
31563    34.57
32404    46.10
13785    19.86
Name: Hourly Rate, dtype: float64

In [12]:
round(sample.mean(), 2)

32.61

In [20]:
st.ttest_1samp(sample, 30)

TtestResult(statistic=1.2960946465604106, pvalue=0.2051633758338194, df=29)

In [23]:
pvalue=0.2051633758338194

In [ ]:
# Confidence interval is 0.05 and pvalue is bigger then condifence interval. We can say that hourly wages do not significantly different from 30 dollars per hour.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [26]:
police = salaries [salaries['Department'] == 'POLICE'].sample(30) 
police

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
24744,"RIGAN, KEITH S",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
8692,"FENTON, TIMOTHY S",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
25803,"RUDZINSKI, ERIC D",POLICE OFFICER (ASSGN AS HELICOPTER PILOT),POLICE,F,Salary,NaN,98052.0,NaN
15031,"KEARNS, MICHAEL",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
9752,"GALVEZ, CHARLETTE S",SERGEANT,POLICE,F,Salary,NaN,111474.0,NaN
28997,"SZETO, PENNY",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
16474,"LE BEAUX, DOMONIQUE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
23215,"PICKETT, SHAWN J",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
25638,"ROSE, JASON",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,91080.0,NaN
10539,"GOETZ, FRANK J",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
8027,"ECONOMOS, ROBERT C",POLICE OFFICER / FLD TRNG OFFICER,POLICE,F,Salary,NaN,91338.0,NaN
22742,"PECORARO, DAWN M",SERGEANT,POLICE,F,Salary,NaN,111474.0,NaN
740,"ANDERSON, DIANA M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
22426,"PAPIN, MICHAEL J",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
6562,"DAVILA, JOSE",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
21873,"O MARA, KEVIN T",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
1043,"ARROYO, ANGELICA",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
12799,"HINES, JEREMIAH L",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,100980.0,NaN
523,"ALMANZA, JOVANNY",DETENTION AIDE,POLICE,F,Salary,NaN,43800.0,NaN
1262,"BABON, MAGDALENA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
21222,"NIETO, LOURDES",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
18006,"MARKVART, ROBERT B",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
29793,"TORRES, JOSE M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
3592,"BURTNER, WILLIAM",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
9430,"FREEMAN, CANDACE J",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
23026,"PERRYMAN, SAMUEL D",ASST SUPVSR OF POLICE RECORDS,POLICE,F,Salary,NaN,85008.0,NaN
3784,"CALDERON, ALFREDO",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
3732,"CACCIATORE, JON J",POLICE OFFICER (ASSIGNED AS TRAFFIC SPECIALIST),POLICE,F,Salary,NaN,98052.0,NaN
32707,"XANOS, NICHOLAS S",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,97440.0,NaN
18829,"MC ELROY, DONNA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN

In [ ]:
null_hypothesis_mean = 86000

In [27]:
nan_check = salaries['Annual Salary'].isna()
nan_check

0        False
1        False
2        False
3        False
4         True
         ...
33178    False
33179    False
33180    False
33181    False
33182    False
Name: Annual Salary, Length: 33183, dtype: bool

In [28]:
nan_count = salaries['Annual Salary'].isna().sum()
nan_count

8022

In [31]:
non_nan = salaries.dropna(subset = ['Annual Salary'])
non_nan

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [33]:
st.ttest_1samp(non_nan['Annual Salary'], 86000 , alternative = 'greater')

TtestResult(statistic=5.932870515690814, pvalue=1.507879259958193e-09, df=25160)

In [35]:
pvalue=1.507879259958193e-09

In [38]:
alpha = 0.05
pvalue > alpha
# we can reject hypothesis. There is no evidence that salaries in police department are higher then 86000 dollars.

Using the `crosstab` function, find the department that has the most hourly workers.

In [ ]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [ ]:
poliv

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [ ]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: